a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    background-color: #1f2937;
}

.nav{
    display: flex;
    padding: 10px 15px;
}

.nav h1{
    margin-left: 180px;
    font-size: 24px;
    color: #f9faf8;
}

.links{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: 200px;
}

.intro{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 200px;
}

.three h1{
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
    color: #f9faf8;
}

.three p{
    font-size: 18px;
    color: #e5e7eb;
    position: relative;
    top: -30px;
}

.three button{
    font-size: 24px;
    padding: 5px 30px;
    background-color: #3883f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    position: relative;
    top: -30px;
}

.intro img{
    border-radius: 8px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.information{
    width: fit-content;
    height: 500px;
    margin: auto;
}

.information .heading{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.heading h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
}

.my-images{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.my-images img{
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.my-images p{
    margin-top: -3px;
}

.quote{
    background-color: #e5e7eb;
    width: 100%;
    height: 300px;
    margin: auto;
}

.steve-quote{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.steve-quote h3{
    margin-left: auto;
    margin-right: 80px;
}

.steve-quote p{
    align-self: center;
}

